.SliderPish {
  width: 80%;
  margin: 20px auto;
}

.SliderPish >h3{
    text-align: center;
}


.Slides{
    display: grid;
    grid-template-columns: 1fr
}

.Slides>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Slides>div>img{
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next{
    right: 1180px;
    top: 194px;
}