@import url('http://fonts.cdnfonts.com/css/iranyekan');                

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  background-color: #ffffff;
  font-family: 'IRANYekan', sans-serif;
  
}